In [20]:
import pandas as pd
county_and_state = pd.read_csv("county_and_state.csv")
county_and_pop = pd.read_csv("county_and_population.csv")

In [23]:
county_and_state['County'].to_frame()

                       County
0              De Witt County
1        Lac qui Parle County
2      Lewis and Clark County
3  St John the Baptist Parish

In [15]:
county_and_pop['County'].to_frame()

                 County
0                DeWitt
1         Lac Qui Parle
2         Lewis & Clark
3  St. John the Baptist

In [41]:
def clean_county(county):
    return (county
            .lower()
            .strip()
            .replace(' ', '')
            .replace('county', '')
            .replace('parish', '')
            .replace('&', 'and')
            .replace('.', ''))

In [45]:
county_and_pop['County'].apply(clean_county).to_frame()

             County
0            dewitt
1       lacquiparle
2     lewisandclark
3  stjohnthebaptist

In [46]:
county_and_state['County'].apply(clean_county).to_frame()

             County
0            dewitt
1       lacquiparle
2     lewisandclark
3  stjohnthebaptist

In [47]:
county = county_and_state['County'][0]

(  county[:-7]
   .lower()
   .replace(' ', '')
)

'dewitt'

In [48]:
county

'De Witt County'

In [53]:
county_and_state['County'] = (county_and_state['County']
                              .str.lower()
                              .str.strip()
                              .str.replace(' parish', '')
                              .str.replace(' county', '')
                              .str.replace('&', 'and')
                              .str.replace('.', '')
                              .str.replace(' ', ''))

county_and_pop['County'] = (county_and_pop['County']
                              .str.lower()
                              .str.strip()
                              .str.replace(' parish', '')
                              .str.replace(' county', '')
                              .str.replace('&', 'and')
                              .str.replace('.', '')
                              .str.replace(' ', ''))

In [54]:
county_and_state

             County  State
0            dewitt     IL
1       lacquiparle     MN
2     lewisandclark     MT
3  stjohnthebaptist     LA

In [55]:
county_and_pop

             County   Population
0            dewitt        16798
1       lacquiparle         8067
2     lewisandclark        55716
3  stjohnthebaptist        43044

In [56]:
county_and_state.merge(county_and_pop, on='County')

             County  State   Population
0            dewitt     IL        16798
1       lacquiparle     MN         8067
2     lewisandclark     MT        55716
3  stjohnthebaptist     LA        43044