In [122]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

plt.style.use('fivethirtyeight')
sns.set_context("notebook")

## Reading in DataFrames from Files

Pandas has a number of very useful file reading tools. You can see them enumerated by typing "pd.re" and pressing tab. We'll be using read_csv today.

In [123]:
elections = pd.read_csv("elections.csv")
elections # if we end a cell with an expression or variable name, the result will print

   Candidate        Party     %  Year Result
0     Reagan   Republican  50.7  1980    win
1     Carter   Democratic  41.0  1980   loss
2   Anderson  Independent   6.6  1980   loss
3     Reagan   Republican  58.8  1984    win
4    Mondale   Democratic  37.6  1984   loss
5       Bush   Republican  53.4  1988    win
6    Dukakis   Democratic  45.6  1988   loss
7    Clinton   Democratic  43.0  1992    win
8       Bush   Republican  37.4  1992   loss
9      Perot  Independent  18.9  1992   loss
10   Clinton   Democratic  49.2  1996    win
11      Dole   Republican  40.7  1996   loss
12     Perot  Independent   8.4  1996   loss
13      Gore   Democratic  48.4  2000   loss
14      Bush   Republican  47.9  2000    win
15     Kerry   Democratic  48.3  2004   loss
16      Bush   Republican  50.7  2004    win
17     Obama   Democratic  52.9  2008    win
18    McCain   Republican  45.7  2008   loss
19     Obama   Democratic  51.1  2012    win
20    Romney   Republican  47.2  2012   loss
21   Clinton   Democratic  48.2  2016   loss
22     Trump   Republican  46.1  2016    win

We can use the head command to show only a few rows of a dataframe.

In [124]:
elections.head(7)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss
5      Bush   Republican  53.4  1988    win
6   Dukakis   Democratic  45.6  1988   loss

There is also a tail command.

In [125]:
elections.tail(7)

   Candidate       Party     %  Year Result
16      Bush  Republican  50.7  2004    win
17     Obama  Democratic  52.9  2008    win
18    McCain  Republican  45.7  2008   loss
19     Obama  Democratic  51.1  2012    win
20    Romney  Republican  47.2  2012   loss
21   Clinton  Democratic  48.2  2016   loss
22     Trump  Republican  46.1  2016    win

The read_csv command lets us specify a column to use an index. For example, we could have used Year as the index.

In [126]:
elections_year_index = pd.read_csv("elections.csv", index_col = "Year")
elections_year_index.head(5)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss

Alternately, we could have used the set_index commmand.

In [127]:
elections_party_index = elections.set_index("Party")
elections_party_index.head(5)

            Candidate     %  Year Result
Party
Republican     Reagan  50.7  1980    win
Democratic     Carter  41.0  1980   loss
Independent  Anderson   6.6  1980   loss
Republican     Reagan  58.8  1984    win
Democratic    Mondale  37.6  1984   loss

The set_index command (along with all other data frame methods) does not modify the dataframe. That is, the original "elections" is untouched. Note: There is a flag called "inplace" which does modify the calling dataframe.

In [128]:
elections.head() #the index remains unchanged

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

By contast, column names MUST be unique. For example, if we try to read in a file for which column names are not unique, Pandas will automatically any duplicates.

In [129]:
dups = pd.read_csv("duplicate_columns.csv")
dups

    name    name.1      flavor
0   john     smith     vanilla
1  zhang      shan   chocolate
2  fulan  alfulani  strawberry
3   hong   gildong      banana

## The [] Operator

The DataFrame class has an indexing operator [] that lets you do a variety of different things. If your provide a String to the [] operator, you get back a Series corresponding to the requested label.

In [130]:
elections["Candidate"].head(6)

0      Reagan
1      Carter
2    Anderson
3      Reagan
4     Mondale
5        Bush
Name: Candidate, dtype: object

The [] operator also accepts a list of strings. In this case, you get back a DataFrame corresponding to the requested strings.

In [131]:
elections[["Candidate", "Party"]].head(6)

  Candidate        Party
0    Reagan   Republican
1    Carter   Democratic
2  Anderson  Independent
3    Reagan   Republican
4   Mondale   Democratic
5      Bush   Republican

A list of one label also returns a DataFrame. This can be handy if you want your results as a DataFrame, not a series.

In [132]:
elections[["Candidate"]].head(6)

  Candidate
0    Reagan
1    Carter
2  Anderson
3    Reagan
4   Mondale
5      Bush

Note that we can also use the to_frame method to turn a Series into a DataFrame.

In [133]:
elections["Candidate"].to_frame()

   Candidate
0     Reagan
1     Carter
2   Anderson
3     Reagan
4    Mondale
5       Bush
6    Dukakis
7    Clinton
8       Bush
9      Perot
10   Clinton
11      Dole
12     Perot
13      Gore
14      Bush
15     Kerry
16      Bush
17     Obama
18    McCain
19     Obama
20    Romney
21   Clinton
22     Trump

The [] operator also accepts numerical slices as arguments. In this case, we are indexing by row, not column!

In [134]:
elections[0:3]

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss

If you provide a single argument to the[] operator, it tries to use it as a name. This is true even if the argument passed to [] is an integer.

In [135]:
#elections[0] this does not work, try uncommenting this to see it fail in action, woo

The following cells allow you to test your understanding.

In [136]:
weird = pd.DataFrame({1:["topdog","botdog"], "1":["topcat","botcat"]})
weird

        1       1
0  topdog  topcat
1  botdog  botcat

In [137]:
weird[1] #try to predict the output

0    topdog
1    botdog
Name: 1, dtype: object

In [138]:
weird["1"] #try to predict the output

0    topcat
1    botcat
Name: 1, dtype: object

In [139]:
weird[1:] #try to predict the output

        1       1
1  botdog  botcat

## Boolean Array Selection

One very common task in Data Science is filtering. Boolean Array Selection is one way to achieve this in Pandas. We start by observing logical operators like the equality operator can be applied to Pandas Series data. For example, we can compare the 'Result' column to the String 'win':

In [155]:
iswin = elections['Result'] == 'win'
iswin.head(5)

0     True
1    False
2    False
3     True
4    False
Name: Result, dtype: bool

The output of the logical operator applied to the Series is another Series with the same name and index, but of datatype boolean. The entry with index i represents the result of the application of that operator to the entry of the original Series with index i.

In [156]:
elections['Result'].head(5)

0     win
1    loss
2    loss
3     win
4    loss
Name: Result, dtype: object

These boolean Series can be used as an argument to the loc operator. For example, the following code creates a DataFrame of all election winners since 1980.

In [157]:
elections.loc[iswin]

   Candidate       Party     %  Year Result
0     Reagan  Republican  50.7  1980    win
3     Reagan  Republican  58.8  1984    win
5       Bush  Republican  53.4  1988    win
7    Clinton  Democratic  43.0  1992    win
10   Clinton  Democratic  49.2  1996    win
14      Bush  Republican  47.9  2000    win
16      Bush  Republican  50.7  2004    win
17     Obama  Democratic  52.9  2008    win
19     Obama  Democratic  51.1  2012    win
22     Trump  Republican  46.1  2016    win

Above, we've assigned the result of the logical operator to a new variable called `iswin`. This is uncommon. Usually, the series is created and used on the same line. Such code is a little tricky to read at first, but you'll get used to it quickly.

In [180]:
elections[elections['Result'] == 'win']

   Candidate       Party     %  Year Result
0     Reagan  Republican  50.7  1980    win
3     Reagan  Republican  58.8  1984    win
5       Bush  Republican  53.4  1988    win
7    Clinton  Democratic  43.0  1992    win
10   Clinton  Democratic  49.2  1996    win
14      Bush  Republican  47.9  2000    win
16      Bush  Republican  50.7  2004    win
17     Obama  Democratic  52.9  2008    win
19     Obama  Democratic  51.1  2012    win
22     Trump  Republican  46.1  2016    win

We can select multiple criteria by creating multiple boolean Series and combining them using the `&` operator.

In [172]:
elections[(elections['Result'] == 'win')
          & (elections['%'] < 50)]

   Candidate       Party     %  Year Result
7    Clinton  Democratic  43.0  1992    win
10   Clinton  Democratic  49.2  1996    win
14      Bush  Republican  47.9  2000    win
22     Trump  Republican  46.1  2016    win

## Loc and ILOC

In [140]:
elections.head(5)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

In [141]:
elections.loc[[0, 1, 2, 3, 4], ['Candidate','Party', 'Year']]

  Candidate        Party  Year
0    Reagan   Republican  1980
1    Carter   Democratic  1980
2  Anderson  Independent  1980
3    Reagan   Republican  1984
4   Mondale   Democratic  1984

Loc also supports slicing (for all types, including numeric and string labels!). Note that the slicing for loc is **inclusive**, even for numeric slices.

In [142]:
elections.loc[0:4, 'Candidate':'Year']

  Candidate        Party     %  Year
0    Reagan   Republican  50.7  1980
1    Carter   Democratic  41.0  1980
2  Anderson  Independent   6.6  1980
3    Reagan   Republican  58.8  1984
4   Mondale   Democratic  37.6  1984

If we provide only a single label for the column argument, we get back a Series.

In [143]:
elections.loc[0:4, 'Candidate']

0      Reagan
1      Carter
2    Anderson
3      Reagan
4     Mondale
Name: Candidate, dtype: object

If we want a data frame instead and don't want to use to_frame, we can provde a list containing the column name.

In [144]:
elections.loc[0:4, ['Candidate']]

  Candidate
0    Reagan
1    Carter
2  Anderson
3    Reagan
4   Mondale

If we give only one row but many column labels, we'll get back a Series corresponding to a row of the table. This new Series has a neat index, where each entry is the name of the column that the data came from.

In [145]:
elections.loc[0, 'Candidate':'Year']

Candidate        Reagan
Party        Republican
%                  50.7
Year               1980
Name: 0, dtype: object

If we omit the column argument altogether, the default behavior is to retrieve all columns.

In [146]:
elections.loc[[2, 4, 5]]

  Candidate        Party     %  Year Result
2  Anderson  Independent   6.6  1980   loss
4   Mondale   Democratic  37.6  1984   loss
5      Bush   Republican  53.4  1988    win

Loc also supports boolean array inputs instead of labels.

In [147]:
elections.loc[[True, False, False, True], [True, False, False, True]]

  Candidate  Year
0    Reagan  1980
3    Reagan  1984

In [148]:
elections.loc[[0, 3], ['Candidate', 'Year']]

  Candidate  Year
0    Reagan  1980
3    Reagan  1984

We can use boolean array arguments for one axis of the data, and labels for the other.

In [182]:
elections.loc[[True, False, False, True], 'Candidate':'%']

  Candidate       Party     %
0    Reagan  Republican  50.7
3    Reagan  Republican  58.8

We'll come back to why boolean arrays are useful shortly. But first, let's look at some data with string labels for rows.

In [150]:
mottos = pd.read_csv("mottos.csv", index_col = "State")
mottos.head(5)

,Motto,Translation,Language,Date Adopted
State,,,,
Alabama,Audemus jura nostra defendere,We dare defend our rights!,Latin,1923
Alaska,North to the future,—,English,1967
Arizona,Ditat Deus,God enriches,Latin,1863
Arkansas,Regnat populus,The people rule,Latin,1907
California,Eureka (Εὕρηκα),I have found it,Greek,1849

As you'd expect, the rows to extract can be specified using slice notation, even if the rows have string labels instead of integer labels.

In [151]:
mottos.loc['California':'Florida', ['Motto', 'Language']]

                                Motto Language
State
California            Eureka (Εὕρηκα)    Greek
Colorado              Nil sine numine    Latin
Connecticut   Qui transtulit sustinet    Latin
Delaware     Liberty and Independence  English
Florida               In God We Trust  English

Sometimes students are so used to thinking of rows as numbered that they try the following, which will not work.

In [152]:
#mottos.loc[0:3, ['Motto', 'Language']

### iloc

loc's cousin iloc is very similar, but is used to access based on numerical position instead of label. For example, to access to the top 3 rows and top 3 columns of a table, we can use [0:3, 0:3]. iloc slicing is **exclusive**, just like standard Python slicing of numerical values.

In [153]:
elections.iloc[0:3, 0:3]

  Candidate        Party     %
0    Reagan   Republican  50.7
1    Carter   Democratic  41.0
2  Anderson  Independent   6.6

In [154]:
mottos.iloc[0:3, 0:3]

                                 Motto                 Translation Language
State
Alabama  Audemus jura nostra defendere  We dare defend our rights!    Latin
Alaska             North to the future                           —  English
Arizona                     Ditat Deus                God enriches    Latin

We will use both loc and iloc in the course. Loc is generally preferred for a number of reasons, for example: 

1. It is harder to make mistakes since you have to literally write out what you want to get.
2. Code is easier to read, because the reader doesn't have to know e.g. what column #31 represents.
3. It is robust against permutations of the data, e.g. the social security administration switches the order of two columns.

However, iloc is sometimes more convenient. We'll provide examples of when iloc is the superior choice.